{{ template "base" . }}
{{ define "head" }}
<link rel="stylesheet" href="/css/a11y-dark.css">
{{ end }}
{{ define "main" }}
{{ template "image" . }}
<div class="section-div blog-post">
  <h2>Adding Terraform to an existing project.</h2>
  <em>2022-07-24</em>
  <p>hey.</p>
</div>
<script src="/js/highlight.pack.js"></script>
<script type="text/javascript">hljs.highlightAll();</script>
{{ end }}
