{{ template "base" . }}
{{ define "head" }}{{ end }}
{{ define "main" }}
<video id="local_video" autoplay controls muted playsinline style="width: 650px; margin-bottom: 50px;"></video>
<video id="remote_video" autoplay controls playsinline style="width: 650px; margin-bottom: 50px;"></video>
<script type="module" src="/js/video.js"></script>
{{ end }}
