{{ define "image" }}
{{ if .LinkImage }}<a href="{{ .ImagePath }}" style="display: contents">{{ end }}<img src="{{ .ImagePreviewURL }}" style="width: {{ .ImageWidth }}px; max-height: {{ .ImageHeight }}px;" />{{ if .LinkImage }}</a>{{ end }}
{{ end }}
