<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Matt Butterfield</title>
    <link rel="shortcut icon" type="image/jpg" href="{{ .ImagesBaseURL }}favicon.ico"/>
    <link href="/css/resume.screen.css" type="text/css" rel="stylesheet" media="screen">
    <link href="/css/resume.print.css" type="text/css" rel="stylesheet" media="print">
  </head>
  <body>
    <div id="content">
      <h1 id="matt-butterfield">Matt Butterfield</h1>
      <p>Software Engineer<br>
        Brooklyn, NY</p>

      <div id="webaddress">
        <a href="mailto:matt@mattbutterfield.com">matt@mattbutterfield.com</a>
        | <a href="https://mattbutterfield.com">mattbutterfield.com</a>
        <br><a href="https://github.com/m-butterfield">github.com/m-butterfield</a>
        | <a href="https://www.linkedin.com/in/matt-butterfield">linkedin.com/in/matt-butterfield</a>
      </div>

      <h2 id="positions">Positions</h2>

      <p><code class="language-plaintext highlighter-rouge">December 2019 - now</code>
        <strong>Senior Production Engineer</strong>, Shopify</p>

      <ul>
        <li>Utilized a wide variety of technologies across several teams in large scale environments such as Google Cloud Dataflow, Bigtable, Elasticsearch, Ruby on Rails, MySQL, and Kafka.</li>
        <li>Supported the data pipeline and search relevance teams by building tooling for testing and automation of search reindex operations.</li>
        <li>Built payment integrations for the Shopify subscriptions (selling plans) GraphQL API.</li>
        <li>Contributed to the foundations of a flexible pricing engine within the core Shopify codebase.</li>
      </ul>

      <p><code class="language-plaintext highlighter-rouge">January 2018 - November 2019</code>
        <strong>Senior Backend Engineer/Team Lead</strong>, Maven Clinic</p>

      <ul>
        <li>Designed and built backend features and infrastructure as an early hire for a growing digital health clinic using GCP, Python (+Flask), Kubernetes, MySQL, and more.</li>
        <li>Mentored and managed other engineers to help scale the engineering organization.</li>
      </ul>

      <p><code class="language-plaintext highlighter-rouge">August 2014 – January 2018</code>
        <strong>Senior Software Engineer</strong>, Percolate</p>

      <ul>
        <li>Contributed to backend development with Python/Golang on AWS using Elasticsearch, MySQL, and Kafka.</li>
        <li>Built and maintained a digital asset management system with a highly performant REST API, asynchronous file transcoding and custom search capabilities.</li>
      </ul>

      <p><code class="language-plaintext highlighter-rouge">October 2012 – August 2014</code>
        <strong>Software Engineer</strong>, OnShift</p>

      <ul>
        <li>Full stack development with Python, JavaScript, and PostgreSQL - building web applications to assist scheduling in the long term care industry.</li>
        <li>Developed a mobile application for iOS and Android using PhoneGap, with a combination of Backbone.js and a Django powered REST API.</li>
        <li>Implemented an asychronous queuing system using Celery and RabbitMQ.</li>
      </ul>

      <p><code class="language-plaintext highlighter-rouge">November 2009 – October 2012</code>
        <strong>Aerial Sensor Operator</strong>, Kucera International</p>

      <ul>
        <li>Operated large aerial surveying cameras, lidar sensors, and GPS/inertial navigation systems.</li>
        <li>Created applications with Java and C++ that assisted in visualizing aerial imagery coverage.</li>
        <li>Trained and managed other sensor operators while working on large domestic and international surveying projects.</li>
      </ul>

      <p><code class="language-plaintext highlighter-rouge">June – December 2007</code>
        <strong>Photography Co-op</strong>, The Boston Globe</p>

      <ul>
        <li>Assisted the Pultizer Prize-winning photography department by editing and organizing hundreds of photos every day, calling various newspapers and agencies to request photos, and assisting photographers directly.</li>
      </ul>

      <p><br></p>
      <h2 id="education">Education</h2>

      <p><code class="language-plaintext highlighter-rouge">2012 – 2014</code>
        <strong>Post Bacc/Grad Studies in Computer Science</strong>, Cleveland State University</p>

      <ul>
        <li>35 credits of computer science and math courses including: systems programming, discrete mathematics, operating systems, language processors, computer architecture, and database systems.</li>
      </ul>

      <p><code class="language-plaintext highlighter-rouge">2004 - 2008</code>
        <strong>B.S. Photography</strong>, Grand Valley State University</p>

    </div>
  </body>
</html>
