{{ template "base" . }}
{{ define "main" }}
<div class="section-div">
  <h1>blog</h1>
  <ul>
    <li>
      <a href="/blog/2021-04-05-migrating-to-gcp"><em>2021-04-05</em> - Migrating My Personal Web Projects from AWS EC2 to GCP Cloud Run</a>
    </li>
  </ul>
</div>
{{ end }}
