{{ template "base" . }}
{{ define "head" }}{{ end }}
{{ define "main" }}
<div class="section-div">
  <h1>admin</h1>
  <ul>
    <li>
      <a href="/admin/upload_image">Upload Image</a>
    </li>
    <li>
      <a href="/admin/upload_music">Upload Music</a>
    </li>
  </ul>
</div>
{{ end }}
