a {
  color: #dedede;
}

html, body {
  height: 100%;
  background-color: #2c2c2c;
  color: #dedede;
  font-family: Helvetica, sans-serif;
  font-size: medium;
}

#body-div {
  display: grid;
  grid-template-columns: minmax(1rem, 1fr) minmax(0, 650px) minmax(1rem, 1fr);
  position: relative;
  margin: 0;
  padding-bottom: 120px;
  min-height: 100%;
}

.blog-post p, ul {
  margin-bottom: 30px;
  margin-top: 15px;
  line-height: 2;
  grid-column: 2;
}

.song {
  margin: 15px auto 30px;
  line-height: 1;
  grid-column: 2;
  display: grid;
  grid-template-columns: 200px 1fr;
  gap: 1.5rem;
  align-items: center;
}

audio {
  width: 100%;
}

.song img {
  grid-column: auto;
  width: 200px;
  max-height: 200px;
  max-width: 100%;
}

img, video {
  grid-column: 1 / 4;
  justify-self: center;
  max-width: 95%;
  height: auto;
}

.section-div {
  grid-column: 2;
  margin-top: 15px;
  margin-bottom: 30px;
}

#footer {
  position: absolute;
  grid-column: 2;
  bottom: 0;
}

code {
  font-size: large;
  padding: 0 !important;
  overflow: visible !important;
}

.hljs {
  background: inherit;
  tab-size: 4;
}

.image-div {
  margin-top: 50px;
  margin-bottom: 160px;
}

.image-div, img {
  max-width: 100%;
}

#heatmap {
  height: 600px;
}
