body {
    background-color: #fafafa;
    color: #4A4A4A;
}
.btn-default {
    border-radius: 0;
    color: #4A4A4A;
}
.navbar {
    border-radius: 0;
    background-color: white;
}
.navbar-header {
    float: left;
    padding: 15px;
    text-align: center;
    width: 100%;
}
.navbar-default .navbar-brand {
    float: none;
    color: #4A4A4A;
    position: relative;
    z-index: 10;
}
.row {
    margin-bottom: 15px;
}
#page-buttons {
    position: absolute;
    top: 9px;
    left: 50%;
    width: 640px;
    margin-left: -320px;
}
#post-content {
    display: none;
}
#post-text {
    margin: auto;
    width: 640px;
    font-size: 16px;
}
