<html>
  <head>
    <title>mattbutterfield.com</title>
    <style>
      a {
        color: #dedede;
      }
      body {
        background-color: #2c2c2c;
        color: #dedede;
        font-family: Helvetica, sans-serif;
        text-align: center;
      }
      p {
        margin-bottom: 10px;
        margin-top: 5px;
      }
      .section-div {
        margin-bottom: 30px;
      }
    </style>
  </head>
    <h1>welcome.</h1>
    <div class="section-div">
      <a id="get-new-image" href="{{ .NextImagePath }}">get new image.</a>
    </div>
    <div class="section-div">
      <img src="{{ .ImageURL }}" />
    </div>
    <div class="section-div">
      <p>{{ .ImageLocation }}</p>
      <p>{{ .ImageDate }}</p>
      <p>{{ .ImageCaption }}</p>
    </div>
  </body>
</html>
