<html>
  <head>
    <title>mattbutterfield.com</title>
    <style>
      body {
        background-attachment: fixed;
        background-color: #2c2c2c;
        background-image: url("{{ .ImageURL }}");
        background-position: center;
        background-repeat: no-repeat;
        text-align: center;
      }
      #get-new-image {
        bottom: 10px;
        color: #dedede;
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
      }
    </style>
  </head>
    <a id="get-new-image" href="{{ .NextImagePath }}">Get new image</a>
    <div id="caption-div" >
      {{ .ImageCaption }}
    </div>
  </body>
</html>
