<!DOCTYPE html>
<html>
    <head>
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <title>mattbutterfield.com</title>
    </head>
    <body>
        <div id="post-content"></div>
        <script type="text/template" id="post-template">
            <img src="<%= image_url %>" />
            <p><%= text %></p>
            <% if (next_post_id) { %>
                <a class="page-button" href="/post/<%= next_post_id %>">Next</a>
            <% } %>
            <% if (previous_post_id) { %>
                <a class="page-button" href="/post/<%= previous_post_id %>">Previous</a>
            <% } %>
        </script>
        <script type="text/javascript" src="{{ url_for('static', filename='vendor/jquery/dist/jquery.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='vendor/underscore/underscore-min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='vendor/backbone/backbone-min.js') }}"></script>
        <script>
            (function() {
                var Post = Backbone.Model.extend({
                    urlRoot: "/api/post"
                });

                var PostView = Backbone.View.extend({
                    el: '#post-content',

                    events: {
                        "click .page-button": "page"
                    },

                    template: _.template($('#post-template').html()),

                    initialize: function(options) {
                        this.model = new Post(options.postData);
                        this.router = options.router;
                        this.listenTo(this.model, 'sync', this.render);
                    },

                    page: function(event) {
                        event.preventDefault();
                        this.router.navigate(event.target.getAttribute('href'), {trigger: true});
                    },

                    updatePost: function(postId) {
                        this.model.set('id', postId);
                        this.model.fetch({reset: true});
                    },

                    render: function(){
                        this.$el.html(this.template(this.model.attributes));
                    }
                });

                var Router = Backbone.Router.extend({
                    routes: {
                        "post/:postId": 'loadPost',
                        "": "defaultRoute"
                    },

                    initialize: function(options) {
                        this.postView = new PostView({
                            postData: options.postData,
                            router: this
                        });
                    },

                    defaultRoute: function() {
                        this.postView.render();
                    },

                    loadPost: function(postId) {
                        if (postId !== this.postView.model.id) {
                            this.postView.updatePost(postId);
                        } else {
                            this.postView.render();
                        }
                    }
                });

                var postData = {{ post|safe }};
                new Router({postData: postData});

                Backbone.history.start({pushState: true});
            })();
        </script>
    </body>
</html>
