<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="{{ url_for('static', filename='vendor/bootstrap/dist/css/bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <title>mattbutterfield.com</title>
    </head>
    <body>
        <nav class="navbar navbar-default">
            <div class="navbar-header">
                <a href="/" class="navbar-brand">mattbutterfield.com</a>
                <div id="page-buttons"></div>
            </div>
        </nav>
        <div class="container-fluid text-center" id="post-content"></div>
        <script type="text/template" id="page-buttons-template">
            <% if (previous_post_id) { %>
                <a class="pull-left btn btn-default" href="/post/<%= previous_post_id %>">&laquo; previous</a>
            <% } else { %>
                <a class="pull-left btn btn-default disabled" href="#">&laquo; previous</a>
            <% } %>
            <% if (next_post_id) { %>
                <a class="pull-right btn btn-default" href="/post/<%= next_post_id %>">next &raquo;</a>
            <% } else { %>
                <a class="pull-right btn btn-default disabled" href="#">next &raquo;</a>
            <% } %>
        </script>
        <script type="text/template" id="post-content-template">
            <div class="row">
                <img src="<%= image_url %>" width="<%= image_width %>" height="<%= image_height %>"/>
            </div>
            <div class="row post-content" id="post-text">
                <p><%= text %></p>
            </div>
        </script>
        <script type="text/javascript" src="{{ url_for('static', filename='vendor/jquery/dist/jquery.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='vendor/underscore/underscore-min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='vendor/backbone/backbone-min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/index.js') }}"></script>
        <script>
            (function() {
                var postData = {{ post|safe }};
                new Router({postData: postData});
                Backbone.history.start({pushState: true});
            })();
        </script>
    </body>
</html>
