{{ template "base" . }}
{{ define "main" }}
<div class="section-div">
  <p>{{ .ImageCaption }}</p>
  <p>{{ .ImageLocation }}</p>
  <p>{{ .ImageDate }}</p>
  <a href="{{ .NextImagePath }}">get random image</a>
</div>
{{ end }}
